{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/recipes.css">

    <title>Foodfy - Receitas</title>
{% endblock head %}

{% block content %}

    <div class="cards">
        {% for recipe in recipes %}
            <div class="card" id="{{ recipes.indexOf(recipe) }}">
                <img class="card-image" src="{{ recipe.image }}" alt="{{ recipe.title }}">
                <h2 class="title">{{ recipe.title }}</h2>
                <p class="by">por
                    {{ recipe.author }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock content %}

{% block scripts %}
    <script src="/scripts/scripts.js"></script>
{% endblock scripts %}