{% extends "../layouts/admin.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/admin/main.css">
    <link rel="stylesheet" href="/styles/admin/index.css">
{% endblock head %}

{% block content %}
    <div class="container">
        <h1>Gerenciar receitas</h1>

        <div class="cards">
            {% for recipe in recipes %}
            <div class="card">
                <img src="{{recipe.image}}" alt="">

                <div class="info">
                    <h2>{{recipe.title}}</h2>
                    <p>{{recipe.author}}</p>
                    <a href="/admin/receitas/{{recipe.id}}">Visualizar</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}