{% extends "../layouts/admin.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/admin/main.css">
    <link rel="stylesheet" href="/styles/admin/index.css">
{% endblock head %}

{% block content %}
    <div class="container">
        <h1>Gerenciar receitas</h1>

        <div class="cards">
            <div class="card">
                <img src="/assets/burger.png" alt="">

                <div class="info">
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                    <a href="#">Visualizar</a>
                </div>  
            </div>

            <div class="card">
                <img src="/assets/burger.png" alt="">

                <div class="info">
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                    <a href="#">Visualizar</a>
                </div>  
            </div>

            <div class="card">
                <img src="/assets/burger.png" alt="">

                <div class="info">
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                    <a href="#">Visualizar</a>
                </div>  
            </div>

            <div class="card">
                <img src="/assets/burger.png" alt="">

                <div class="info">
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                    <a href="#">Visualizar</a>
                </div>  
            </div>
        </div>
    </div>
    
{% endblock content %}