.cards {
    max-width: 940px;

    margin: 50px auto 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 20px;
}

.card {
    cursor: pointer;
}

.card img {
    height: 140px;
    max-width: 100%;

    border-radius: 15px;

    margin-bottom: 20px;
}

.card h2 {
    font-size: 18px;
    line-height: 21px;

    color: var(--color-text);

    margin-bottom: 5px;
}

.card p {
    color: var(--color-textOpacity);

    font-size: 14px;
    line-height: 16px;
}